<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="doubledown.newsservice.dao.NewsDAO">
    <insert id="saveNews" parameterType="java.util.List">
        INSERT INTO TBL_NEWS(
            title
            ,originallink
            ,link
            ,description
            ,pubDate
            ,site
            ,registerDate
            ,keyword
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.title}
            , #{item.originallink}
            , #{item.link}
            , #{item.description}
            , #{item.pubDate}
            , #{item.site}
            , NOW()
            , #{item.keyword}
            )
        </foreach>
    </insert>

    <select id="getKeywords" resultType="doubledown.newsservice.dto.KeywordDTO">
        SELECT keywordName
        FROM TBL_KEYWORDS
    </select>

    <insert id="saveKeyword" parameterType="string">
        INSERT INTO TBL_KEYWORDS(
            KEYWORDNAME
        ) VALUES (
            #{keyword}
        )
    </insert>

    <select id="checkKeyword" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM TBL_KEYWORDS
        WHERE keywordName = #{keyword}
    </select>

    <delete id="deleteKeyword" parameterType="string">
        DELETE
        FROM TBL_KEYWORDS
        WHERE keywordName = #{keyword}
    </delete>


</mapper>